<article class="game-card">
    <header class="game-card-header" alt="game name">{{poBlogData?.gameName}}</header>
    <img class="game-image" src={{poBlogData?.gameUrl}} alt={{gameImageAltText}} />
    <div class="game-content" alt="game explanation">
        <h2>{{poBlogData?.gameName}}</h2>
        <p>{{poBlogData?.gameSummary}}</p>
        <po-button [altAttribute]="gameButtonDesc" (clickEvent)="readMore(poBlogData)" class="detail-btn">
            <p>{{gameButtonDesc}}</p>
        </po-button>
    </div>
</article>