.game-card {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: stretch;
    border-radius: 10px;
    transition: all .3s linear;
    background-color:#FBF3E9;
}

.game-card:hover {
    box-shadow: 0 0 16px 0 rgba(73, 73, 73, .5);
}
.game-card .game-image {
    margin: 12px;
    border-radius: 10px;
    max-width: max-content;
}

.game-content {
    margin: 12px;
    max-width: 70ch;
    text-align: justify;
}

.detail-btn  p {
    margin: 16px;
}

.game-card .game-card-header {
    visibility: hidden;
    display: none;
}

@media screen and (max-width:375px){
    .game-card {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .game-card .game-card-header {
        visibility: visible;
        display: inline-block;
        margin: 5px;
    }

    .game-card .game-content{
        display: none;
    }
}

