.main-app {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        'header'
        'main';

    height: 100vh;
}

.background-img {
    background: url("../../assets/po-bg.png");

    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
}

.no-background {
    background : none;
}

.main-header {
    grid-area: header;
}

.main-body {
    grid-area: main;    
    scrollbar-width: none;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}

.main-body::-webkit-scrollbar {
    display: none;
}

.main-footer {
    grid-area: footer;
    color: #0F0915;
    text-align: center;
}
