.container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.logo {
    flex-grow: 0.9;
}

.logo > img:first-child {
    width: 3.5rem;
    height: 3.5rem;
}

.about {
   align-self: center;
   margin-right: 2%;
}