<section class="container">
    <a class="logo" routerLink="/home">
        <img src="assets/purpleowl-logo.png" alt="Purple Owl Logo" class="logo-image" />
        <img src="assets/company-name-w.png" alt="Purple Owl Games" class="company-name" />
    </a>
    <div class="home">
        <a routerLink="/pages/home" alt="Home Page" class="homepage-link">Home</a>
    </div>
    <div class="games">
        <a routerLink="/pages/games" alt="Games List" class="gamepage-link">Games</a>
    </div>
    <div class="about">
        <a routerLink="/pages/about" alt="About" class="aboutpage-link">About</a>
    </div>
    <div class="hamburger-menu">
        <po-button [altAttribute]="menuButton" (clickEvent)="showMenu($event)">
            <img src="assets/hamburger-menu.png" alt="Hamburger Menu Image" />
        </po-button>
    </div>
</section>
<section>
    <div class="menu-options" *ngIf="displayMenu">
        <a routerLink="/home" alt="Home Page" class="home-menu">Home</a>
        <a routerLink="/pages/games" alt="Games List" class="games-menu">Games</a>
        <a routerLink="/pages/about" alt="About" class="about-menu">About</a>
    </div>
    <div class="hamburger-menu">
        <po-button [altAttribute]="menuButton" (clickEvent)="menuList($event)">
            <img src="assets/hamburger-menu.png" alt="Hamburger Menu Image" />
        </po-button>
    </div>
</section>
<section>
    <div class="menu-options" *ngIf="displayMenu">
        <a routerLink="/home" alt="Home Page">Home</a>
        <a routerLink="/pages/games" alt="Games List">Games</a>
        <a routerLink="/pages/about" alt="About">About</a>
    </div>
</section>