.game-card {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: stretch;
    border-radius: .25rem;
    background-color: var(--game-card-bg-color);
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    transition: background-color 1s cubic-bezier(.43,.41,.22,.91);

    --game-card-bg-color:#7BA6B0;
    --game-card-bg-color-hover: #5C8692;
}

.game-card:hover {
    background-color: var(--game-card-bg-color-hover);
}
.game-card .game-image {
    margin: 1%;
    border-radius: .25rem;
}

.game-content {
    /*font-size: 1.2rem;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;*/
    margin: 3%;
    max-width: 70ch;
}

.game-card .game-card-header {
    visibility: hidden;
    display: none;
}

@media screen and (max-width:375px){
    .game-card {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .game-card .game-card-header {
        visibility: visible;
        display: block;
        margin: 3%;
        color: white;
    }

    .game-card .game-content{
        visibility: hidden;
        display: none;
    }
}

