:host {
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    --main-header-bg-color: #F4F5F5;
    --main-bg-color: #C8BFD4;
    --main-footer-bg-color: #6E4E8D;
}

.main-header {
    grid-area: header;
    background-color: var(--main-header-bg-color);
    padding: .5rem;
}

.main-body {
    grid-area: main;
    padding: .5rem;
    background-color: var(--main-bg-color);
}

.main-footer {
    grid-area: footer;
    background-color: var(--main-footer-bg-color);
    padding: .5rem;
    color: #FFFFFF;
    text-align: center;
}