<article class="game-detail">
    <div class="game-image">
        <img src={{blogData?.gameUrl}} alt="{{gameImageAltText}}" class={{blogData?.gameCardAlign}} />
    </div>
    <div class="game-content" alt="game explanation">
        <h1>{{blogData?.gameName}}</h1>
        <p>{{blogData?.gameSummary}}</p>
        <p *ngFor="let row of blogData?.gameDesc?.split('\n')">{{row}}</p>
    </div>
    <footer class="game-footer">
        <p>For game rules visit the designer's profile on
            <a href="{{blogData?.bggGameLink}}" alt="Board game geek link for rules" class="bgggame-link">
                Board Games Geek
            </a>
        </p>
    </footer>
</article>