<article class="game-detail">
    <div class="game-image">
        <img src={{poBlogData?.gameUrl}} alt="{{gameImageAltText}}" class={{poBlogData?.gameCardAllign}} />
    </div>
    <div class="game-content" alt="game explanation">
        <h1>{{poBlogData?.gameName}}</h1>
        <p>{{poBlogData?.gameSummary}}</p>
        <p *ngFor="let row of poBlogData?.gameDesc?.split('\n')">{{row}}</p>
    </div>
    <footer class="game-footer">
        <p>For game rules visit the designer's profile on
            <a href="https://boardgamegeek.com/boardgame/383459/aurum" alt="board games geek link">Board Games Geek</a>
        </p>
    </footer>
</article>