.game-detail {
    border-radius: 10px;
    box-shadow: 0 0 16px 0 rgba(73, 73, 73, .5);
    background-color:#FBF3E9;
    margin: 30px auto;
    max-width: 100ch;
    padding: 10px;
}

.game-image {
    float: left;
}

.game-image .landscape {
    width: 300px;
    height: 200px;
}

.game-image .portrait {
    width: 240px;
    height: 320px;
}

.game-image img{
    margin: 16px;
    border-radius: 10px;
    height: max-content;
}

.game-content {
    margin: 16px;
    text-align: justify;
    text-indent: 2rem;
}
.game-footer {
    margin: 16px;
}

.game-footer img {
    width: 80px;
    height: 40px;
}